.navbar {
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

#bottom-nav {
  background-color: thistle;
  padding:20px;
}

h1 {
  margin: 20px 20px 20px 20px;
}

body {
    background-color: white;
}

.container {
    flex-wrap: wrap;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-evenly;
}

h1 {
    color: thistle;
    font-family: 'Abril Fatface', cursive;
}

#image {
   width: 500px;
   height: 300px;
}

#link {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  margin-bottom: 25px;
}

.footer {
    background-color: thistle;
    color: white;
    justify-content: center;
}