.navbar {
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

#bottom-nav {
  background-color: thistle;
  padding:20px;
}

h1 {
  margin: 20px 20px 20px 20px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1509210459313-17feefdff5cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1261&q=80");
}

.container {
    flex-wrap: wrap;
    background-image: white;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-evenly;
}

h1 {
    color: thistle;
    font-family: 'Abril Fatface', cursive;
}

#image {
   width: 500px;
   height: 300px;
}

#link {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  margin-bottom: 25px;
}

.footer {
    background-color: thistle;
    color: white;
    justify-content: center;
}