h1 {
  color: thistle;
  font-family: 'Abril Fatface', cursive;
}

.navbar {
    background-color:black;
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1509210459313-17feefdff5cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1261&q=80");
  min-height: 100vh;

}

.container {
  background-color: white;
  justify-content: space-evenly;
  justify-content: center;
  flex: wrap;
}


img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.footer {
    text-align: center;
    background-color: thistle;
    color: white;
}
