h1 {
  color: thistle;
  font-family: 'Abril Fatface', cursive;
}

.navbar {
    background-color:black;
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

.container {
  justify-content: space-evenly;
  justify-content: center;
  flex: wrap;
}


img {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.footer {
    text-align: center;
    background-color: thistle;
    color: white;
}
