.navbar {
    background-color:black;
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

body {
    background-color: white;
}

.container {
    background-color: white;
    outline: 1px solid lightslategray;
    margin-top:50px;
    margin-bottom: 50px;
}

h1 {
    color: thistle;
    font-family: 'Abril Fatface', cursive;
}

.footer {
    background-color: thistle;
        padding: 20px;
        color: white;
}