.navbar {
    background-color:black;
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

.container {
    background-color: white;
    justify-content: space-evenly;
    margin: 0 auto;
}

form {
  margin: 20px 20px 20px 20px;
}

h1 {
  color: thistle;
  font-family: 'Abril Fatface', cursive;
}

.footer {
  background-color: thistle;
  color: white;
}