.navbar {
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

#bottom-nav {
  background-color: thistle;
  padding:20px;
}

body {
    background-color: white;
}

.container {
    background-color: white;
    margin-top:50px;
    margin-bottom: 50px;
}

h1 {
    color: thistle;
    font-family: 'Abril Fatface', cursive;
}

.img-img-thumbnail {
    width: 200px;
    height: 200px;
}

.footer {
    background-color: thistle;
        color: white;
}