.navbar {
    background-color:black;
    font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
    background-color: thistle;
    padding:20px;
}

body {
    background-color: white;
}

.container.wrapper {
    background-color: white;
    outline: 1px solid lightslategray;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
@media screen and (max-width:500px) {
    .p {
        flex-wrap: wrap;
    }

@media screen and (max-width: 500px) {
    .img {
        display: block;
    }
}



}


h1 {
    color: thistle;
    font-family: 'Abril Fatface', cursive;
}
img {
    height: 150px;
    width: 150px;
    padding: 10px;
}

.footer {
    text-align: center;
    background-color: thistle;
    color: white;
}
